<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.goshop.users.mapper.master.GsMessageMapper" >
  <resultMap id="BaseResultMap" type="org.goshop.users.pojo.GsMessage" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="addTime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="deleteStatus" property="deletestatus" jdbcType="BIT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="fromUser_id" property="fromuserId" jdbcType="BIGINT" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="toUser_id" property="touserId" jdbcType="BIGINT" />
    <result column="reply_status" property="replyStatus" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="org.goshop.users.pojo.GsMessage" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, addTime, deleteStatus, status, title, type, fromUser_id, parent_id, toUser_id,
    reply_status
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from gs_message
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.goshop.users.pojo.GsMessage" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into gs_message (addTime, deleteStatus, status,
      title, type, fromUser_id,
      parent_id, toUser_id, reply_status,
      content)
    values (#{addtime,jdbcType=TIMESTAMP}, #{deletestatus,jdbcType=BIT}, #{status,jdbcType=INTEGER},
      #{title,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{fromuserId,jdbcType=BIGINT},
      #{parentId,jdbcType=BIGINT}, #{touserId,jdbcType=BIGINT}, #{replyStatus,jdbcType=INTEGER},
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.goshop.users.pojo.GsMessage" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into gs_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="addtime != null" >
        addTime,
      </if>
      <if test="deletestatus != null" >
        deleteStatus,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="fromuserId != null" >
        fromUser_id,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="touserId != null" >
        toUser_id,
      </if>
      <if test="replyStatus != null" >
        reply_status,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletestatus != null" >
        #{deletestatus,jdbcType=BIT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="fromuserId != null" >
        #{fromuserId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="touserId != null" >
        #{touserId,jdbcType=BIGINT},
      </if>
      <if test="replyStatus != null" >
        #{replyStatus,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.goshop.users.pojo.GsMessage" >
    update gs_message
    <set >
      <if test="addtime != null" >
        addTime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletestatus != null" >
        deleteStatus = #{deletestatus,jdbcType=BIT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="fromuserId != null" >
        fromUser_id = #{fromuserId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="touserId != null" >
        toUser_id = #{touserId,jdbcType=BIGINT},
      </if>
      <if test="replyStatus != null" >
        reply_status = #{replyStatus,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.goshop.users.pojo.GsMessage" >
    update gs_message
    set addTime = #{addtime,jdbcType=TIMESTAMP},
      deleteStatus = #{deletestatus,jdbcType=BIT},
      status = #{status,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      fromUser_id = #{fromuserId,jdbcType=BIGINT},
      parent_id = #{parentId,jdbcType=BIGINT},
      toUser_id = #{touserId,jdbcType=BIGINT},
      reply_status = #{replyStatus,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.goshop.users.pojo.GsMessage" >
    update gs_message
    set addTime = #{addtime,jdbcType=TIMESTAMP},
      deleteStatus = #{deletestatus,jdbcType=BIT},
      status = #{status,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      fromUser_id = #{fromuserId,jdbcType=BIGINT},
      parent_id = #{parentId,jdbcType=BIGINT},
      toUser_id = #{touserId,jdbcType=BIGINT},
      reply_status = #{replyStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
