<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.goshop.users.mapper.master.GsUserBanPermMapper" >
  <resultMap id="BaseResultMap" type="org.goshop.users.pojo.GsUserBanPerm" >
    <result column="u_id" property="uId" jdbcType="BIGINT" />
    <result column="permission_id" property="permissionId" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="org.goshop.users.pojo.GsUserBanPerm" >
    insert into gs_user_ban_perm (u_id, permission_id)
    values (#{uId,jdbcType=BIGINT}, #{permissionId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="org.goshop.users.pojo.GsUserBanPerm" >
    insert into gs_user_ban_perm
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uId != null" >
        u_id,
      </if>
      <if test="permissionId != null" >
        permission_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uId != null" >
        #{uId,jdbcType=BIGINT},
      </if>
      <if test="permissionId != null" >
        #{permissionId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>

  <!-- 批量插入生成的兑换码 -->
  <insert id ="insertBatch" useGeneratedKeys="true" parameterType="java.util.List" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into gs_user_ban_perm
    (u_id, permission_id)
    values
    <foreach collection ="list" item="ban" index= "index" separator =",">
      (
      #{ban.uId}, #{ban.permissionId}
      )
    </foreach >
  </insert >
</mapper>
