<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.goshop.store.mapper.read.ReadStoreMapper" >
  <resultMap id="BaseResultMap" type="org.goshop.store.pojo.Store" >
    <id column="store_id" property="storeId" jdbcType="BIGINT" />
    <result column="store_name" property="storeName" jdbcType="VARCHAR" />
    <result column="store_auth" property="storeAuth" jdbcType="BIT" />
    <result column="name_auth" property="nameAuth" jdbcType="BIT" />
    <result column="grade_id" property="gradeId" jdbcType="INTEGER" />
    <result column="member_id" property="memberId" jdbcType="BIGINT" />
    <result column="member_name" property="memberName" jdbcType="VARCHAR" />
    <result column="seller_name" property="sellerName" jdbcType="VARCHAR" />
    <result column="store_owner_card" property="storeOwnerCard" jdbcType="VARCHAR" />
    <result column="sc_id" property="scId" jdbcType="INTEGER" />
    <result column="store_company_name" property="storeCompanyName" jdbcType="VARCHAR" />
    <result column="area_id" property="areaId" jdbcType="BIGINT" />
    <result column="area_info" property="areaInfo" jdbcType="VARCHAR" />
    <result column="store_address" property="storeAddress" jdbcType="VARCHAR" />
    <result column="store_zip" property="storeZip" jdbcType="VARCHAR" />
    <result column="store_tel" property="storeTel" jdbcType="VARCHAR" />
    <result column="store_image" property="storeImage" jdbcType="BIGINT" />
    <result column="store_image1" property="storeImage1" jdbcType="BIGINT" />
    <result column="store_state" property="storeState" jdbcType="BIT" />
    <result column="store_close_info" property="storeCloseInfo" jdbcType="VARCHAR" />
    <result column="store_sort" property="storeSort" jdbcType="INTEGER" />
    <result column="store_time" property="storeTime" jdbcType="DATE" />
    <result column="store_end_time" property="storeEndTime" jdbcType="DATE" />
    <result column="store_label" property="storeLabel" jdbcType="BIGINT" />
    <result column="store_banner" property="storeBanner" jdbcType="BIGINT" />
    <result column="store_keywords" property="storeKeywords" jdbcType="VARCHAR" />
    <result column="store_description" property="storeDescription" jdbcType="VARCHAR" />
    <result column="store_qq" property="storeQq" jdbcType="VARCHAR" />
    <result column="store_ww" property="storeWw" jdbcType="VARCHAR" />
    <result column="store_domain" property="storeDomain" jdbcType="VARCHAR" />
    <result column="store_domain_times" property="storeDomainTimes" jdbcType="INTEGER" />
    <result column="store_recommend" property="storeRecommend" jdbcType="BIT" />
    <result column="store_theme" property="storeTheme" jdbcType="VARCHAR" />
    <result column="store_credit" property="storeCredit" jdbcType="INTEGER" />
    <result column="praise_rate" property="praiseRate" jdbcType="REAL" />
    <result column="store_desccredit" property="storeDesccredit" jdbcType="REAL" />
    <result column="store_servicecredit" property="storeServicecredit" jdbcType="REAL" />
    <result column="store_deliverycredit" property="storeDeliverycredit" jdbcType="REAL" />
    <result column="store_collect" property="storeCollect" jdbcType="INTEGER" />
    <result column="store_stamp" property="storeStamp" jdbcType="VARCHAR" />
    <result column="store_printdesc" property="storePrintdesc" jdbcType="VARCHAR" />
    <result column="store_sales" property="storeSales" jdbcType="INTEGER" />
    <result column="store_workingtime" property="storeWorkingtime" jdbcType="VARCHAR" />
    <result column="store_free_price" property="storeFreePrice" jdbcType="DECIMAL" />
    <result column="store_storage_alarm" property="storeStorageAlarm" jdbcType="TINYINT" />
    <result column="map_type" property="mapType" jdbcType="VARCHAR" />
    <result column="store_lat" property="storeLat" jdbcType="DECIMAL" />
    <result column="store_lng" property="storeLng" jdbcType="DECIMAL" />
    <result column="template" property="template" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="org.goshop.store.pojo.StoreWithBLOBs" extends="BaseResultMap" >
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
    <result column="store_zy" property="storeZy" jdbcType="LONGVARCHAR" />
    <result column="store_slide" property="storeSlide" jdbcType="LONGVARCHAR" />
    <result column="store_slide_url" property="storeSlideUrl" jdbcType="LONGVARCHAR" />
    <result column="store_presales" property="storePresales" jdbcType="LONGVARCHAR" />
    <result column="store_aftersales" property="storeAftersales" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    store_id, store_name, store_auth, name_auth, grade_id, member_id, member_name, seller_name,
    store_owner_card, sc_id, store_company_name, area_id, area_info, store_address, store_zip,
    store_tel, store_image, store_image1, store_state, store_close_info, store_sort,
    store_time, store_end_time, store_label, store_banner, store_keywords, store_description,
    store_qq, store_ww, store_domain, store_domain_times, store_recommend, store_theme,
    store_credit, praise_rate, store_desccredit, store_servicecredit, store_deliverycredit,
    store_collect, store_stamp, store_printdesc, store_sales, store_workingtime, store_free_price,
    store_storage_alarm,map_type,store_lat,store_lng,template
  </sql>
  <sql id="Blob_Column_List" >
    description, store_zy, store_slide, store_slide_url, store_presales, store_aftersales
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from gs_store
    where store_id = #{storeId,jdbcType=BIGINT}
  </select>

  <select id="findByMemberId" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from gs_store
    where member_id = #{memberId,jdbcType=BIGINT}
  </select>
  <select id="selectBySecondDomain" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from gs_store
    where store_domain = #{storeDomain,jdbcType=BIGINT}
  </select>
  <select id="findAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from gs_store
  </select>

  <select id="find" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from gs_store
    where 1=1
    <if test="gradeId != null" >
      and grade_id = #{gradeId,jdbcType=INTEGER}
    </if>
    <if test="sellerName != null and sellerName !='' " >
      and seller_name like CONCAT('%',#{sellerName,jdbcType=VARCHAR},'%')
    </if>
    <if test="storeName != null and storeName !='' " >
      and store_name like CONCAT('%',#{storeName,jdbcType=VARCHAR},'%')
    </if>
    <if test="storeState != null" >
      and store_state = #{storeState,jdbcType=INTEGER}
    </if>
  </select>
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from gs_store
    <where>
      <if test="sc_id != null" >
        and sc_id = #{sc_id}
      </if>
      <if test="store_name != null" >
        and store_name like CONCAT('%',#{store_name,jdbcType=VARCHAR},'%')
      </if>
      <if test="store_ower != null" >
        and store_ower like CONCAT('%',#{store_ower,jdbcType=VARCHAR},'%')
      </if>
      <if test="store_state != null" >
        and store_state = #{store_state}
      </if>
      <if test="orderBy !=null">
        order BY #{orderBy} #{orderType}
      </if>
    </where>
  </select>

</mapper>
