<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.goshop.store.mapper.read.ReadStoreJoinMapper" >
  <resultMap id="BaseResultMap" type="org.goshop.store.pojo.StoreJoin" >
    <id column="member_id" property="memberId" jdbcType="BIGINT" />
    <result column="member_name" property="memberName" jdbcType="VARCHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="company_address" property="companyAddress" jdbcType="VARCHAR" />
    <result column="company_address_detail" property="companyAddressDetail" jdbcType="VARCHAR" />
    <result column="company_phone" property="companyPhone" jdbcType="VARCHAR" />
    <result column="company_employee_count" property="companyEmployeeCount" jdbcType="INTEGER" />
    <result column="company_registered_capital" property="companyRegisteredCapital" jdbcType="INTEGER" />
    <result column="contacts_name" property="contactsName" jdbcType="VARCHAR" />
    <result column="contacts_phone" property="contactsPhone" jdbcType="VARCHAR" />
    <result column="contacts_email" property="contactsEmail" jdbcType="VARCHAR" />
    <result column="business_licence_number" property="businessLicenceNumber" jdbcType="VARCHAR" />
    <result column="business_licence_address" property="businessLicenceAddress" jdbcType="VARCHAR" />
    <result column="business_licence_start" property="businessLicenceStart" jdbcType="DATE" />
    <result column="business_licence_end" property="businessLicenceEnd" jdbcType="DATE" />
    <result column="business_sphere" property="businessSphere" jdbcType="VARCHAR" />
    <result column="business_licence_number_electronic" property="businessLicenceNumberElectronic" jdbcType="BIGINT" />
    <result column="organization_code" property="organizationCode" jdbcType="VARCHAR" />
    <result column="organization_code_electronic" property="organizationCodeElectronic" jdbcType="BIGINT" />
    <result column="general_taxpayer" property="generalTaxpayer" jdbcType="BIGINT" />
    <result column="bank_account_name" property="bankAccountName" jdbcType="VARCHAR" />
    <result column="bank_account_number" property="bankAccountNumber" jdbcType="VARCHAR" />
    <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
    <result column="bank_code" property="bankCode" jdbcType="VARCHAR" />
    <result column="bank_address" property="bankAddress" jdbcType="VARCHAR" />
    <result column="bank_licence_electronic" property="bankLicenceElectronic" jdbcType="BIGINT" />
    <result column="is_settlement_account" property="isSettlementAccount" jdbcType="BIT" />
    <result column="settlement_bank_account_name" property="settlementBankAccountName" jdbcType="VARCHAR" />
    <result column="settlement_bank_account_number" property="settlementBankAccountNumber" jdbcType="VARCHAR" />
    <result column="settlement_bank_name" property="settlementBankName" jdbcType="VARCHAR" />
    <result column="settlement_bank_code" property="settlementBankCode" jdbcType="VARCHAR" />
    <result column="settlement_bank_address" property="settlementBankAddress" jdbcType="VARCHAR" />
    <result column="tax_registration_certificate" property="taxRegistrationCertificate" jdbcType="VARCHAR" />
    <result column="taxpayer_id" property="taxpayerId" jdbcType="VARCHAR" />
    <result column="tax_registration_certificate_electronic" property="taxRegistrationCertificateElectronic" jdbcType="BIGINT" />
    <result column="seller_name" property="sellerName" jdbcType="VARCHAR" />
    <result column="store_name" property="storeName" jdbcType="VARCHAR" />
    <result column="store_class_ids" property="storeClassIds" jdbcType="VARCHAR" />
    <result column="store_class_names" property="storeClassNames" jdbcType="VARCHAR" />
    <result column="joinin_state" property="joininState" jdbcType="VARCHAR" />
    <result column="joinin_message" property="joininMessage" jdbcType="VARCHAR" />
    <result column="sg_name" property="sgName" jdbcType="VARCHAR" />
    <result column="sg_id" property="sgId" jdbcType="INTEGER" />
    <result column="sc_name" property="scName" jdbcType="VARCHAR" />
    <result column="sc_id" property="scId" jdbcType="INTEGER" />
    <result column="store_class_commis_rates" property="storeClassCommisRates" jdbcType="VARCHAR" />
    <result column="paying_money_certificate" property="payingMoneyCertificate" jdbcType="BIGINT" />
    <result column="paying_money_certificate_explain" property="payingMoneyCertificateExplain" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    member_id, member_name, company_name, company_address, company_address_detail, company_phone,
    company_employee_count, company_registered_capital, contacts_name, contacts_phone,
    contacts_email, business_licence_number, business_licence_address, business_licence_start,
    business_licence_end, business_sphere, business_licence_number_electronic, organization_code,
    organization_code_electronic, general_taxpayer, bank_account_name, bank_account_number,
    bank_name, bank_code, bank_address, bank_licence_electronic, is_settlement_account,
    settlement_bank_account_name, settlement_bank_account_number, settlement_bank_name,
    settlement_bank_code, settlement_bank_address, tax_registration_certificate, taxpayer_id,
    tax_registration_certificate_electronic, seller_name, store_name, store_class_ids,
    store_class_names, joinin_state, joinin_message, sg_name, sg_id, sc_name, sc_id,
    store_class_commis_rates, paying_money_certificate, paying_money_certificate_explain
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from gs_store_join
    where member_id = #{memberId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from gs_store_join
    where member_id = #{memberId,jdbcType=BIGINT}
  </delete>

  <select id="findBySellerName" resultMap="BaseResultMap" parameterType="string" >
    select
    <include refid="Base_Column_List" />
    from gs_store_join
    where seller_name = #{sellerName,jdbcType=VARCHAR}
  </select>

  <select id="findByStoreName" resultMap="BaseResultMap" parameterType="string" >
    select
    <include refid="Base_Column_List" />
    from gs_store_join
    where store_name = #{storeName,jdbcType=VARCHAR}
  </select>

  <select id="findAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from gs_store_join
  </select>
</mapper>
