<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.goshop.goods.mapper.read.ReadGsGoodsTransportMapper">
  <resultMap id="BaseResultMap" type="org.goshop.goods.pojo.GsGoodsTransport">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="addTime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="deleteStatus" jdbcType="BIT" property="deletestatus" />
    <result column="trans_ems" jdbcType="BIT" property="transEms" />
    <result column="trans_express" jdbcType="BIT" property="transExpress" />
    <result column="trans_mail" jdbcType="BIT" property="transMail" />
    <result column="trans_name" jdbcType="VARCHAR" property="transName" />
    <result column="store_id" jdbcType="BIGINT" property="storeId" />
    <result column="trans_time" jdbcType="INTEGER" property="transTime" />
    <result column="trans_type" jdbcType="INTEGER" property="transType" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="org.goshop.goods.pojo.GsGoodsTransportWithBLOBs">
    <result column="trans_ems_info" jdbcType="LONGVARCHAR" property="transEmsInfo" />
    <result column="trans_express_info" jdbcType="LONGVARCHAR" property="transExpressInfo" />
    <result column="trans_mail_info" jdbcType="LONGVARCHAR" property="transMailInfo" />
  </resultMap>
  <sql id="Base_Column_List">
    id, addTime, deleteStatus, trans_ems, trans_express, trans_mail, trans_name, store_id,
    trans_time, trans_type
  </sql>
  <sql id="Blob_Column_List">
    trans_ems_info, trans_express_info, trans_mail_info
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from gs_goods_transport
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from gs_goods_transport
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.goshop.goods.pojo.GsGoodsTransportWithBLOBs">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into gs_goods_transport (addTime, deleteStatus, trans_ems,
      trans_express, trans_mail, trans_name,
      store_id, trans_time, trans_type,
      trans_ems_info, trans_express_info,
      trans_mail_info)
    values (#{addtime,jdbcType=TIMESTAMP}, #{deletestatus,jdbcType=BIT}, #{transEms,jdbcType=BIT},
      #{transExpress,jdbcType=BIT}, #{transMail,jdbcType=BIT}, #{transName,jdbcType=VARCHAR},
      #{storeId,jdbcType=BIGINT}, #{transTime,jdbcType=INTEGER}, #{transType,jdbcType=INTEGER},
      #{transEmsInfo,jdbcType=LONGVARCHAR}, #{transExpressInfo,jdbcType=LONGVARCHAR},
      #{transMailInfo,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.goshop.goods.pojo.GsGoodsTransportWithBLOBs">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into gs_goods_transport
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="addtime != null">
        addTime,
      </if>
      <if test="deletestatus != null">
        deleteStatus,
      </if>
      <if test="transEms != null">
        trans_ems,
      </if>
      <if test="transExpress != null">
        trans_express,
      </if>
      <if test="transMail != null">
        trans_mail,
      </if>
      <if test="transName != null">
        trans_name,
      </if>
      <if test="storeId != null">
        store_id,
      </if>
      <if test="transTime != null">
        trans_time,
      </if>
      <if test="transType != null">
        trans_type,
      </if>
      <if test="transEmsInfo != null">
        trans_ems_info,
      </if>
      <if test="transExpressInfo != null">
        trans_express_info,
      </if>
      <if test="transMailInfo != null">
        trans_mail_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletestatus != null">
        #{deletestatus,jdbcType=BIT},
      </if>
      <if test="transEms != null">
        #{transEms,jdbcType=BIT},
      </if>
      <if test="transExpress != null">
        #{transExpress,jdbcType=BIT},
      </if>
      <if test="transMail != null">
        #{transMail,jdbcType=BIT},
      </if>
      <if test="transName != null">
        #{transName,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null">
        #{storeId,jdbcType=BIGINT},
      </if>
      <if test="transTime != null">
        #{transTime,jdbcType=INTEGER},
      </if>
      <if test="transType != null">
        #{transType,jdbcType=INTEGER},
      </if>
      <if test="transEmsInfo != null">
        #{transEmsInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="transExpressInfo != null">
        #{transExpressInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="transMailInfo != null">
        #{transMailInfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.goshop.goods.pojo.GsGoodsTransportWithBLOBs">
    update gs_goods_transport
    <set>
      <if test="addtime != null">
        addTime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletestatus != null">
        deleteStatus = #{deletestatus,jdbcType=BIT},
      </if>
      <if test="transEms != null">
        trans_ems = #{transEms,jdbcType=BIT},
      </if>
      <if test="transExpress != null">
        trans_express = #{transExpress,jdbcType=BIT},
      </if>
      <if test="transMail != null">
        trans_mail = #{transMail,jdbcType=BIT},
      </if>
      <if test="transName != null">
        trans_name = #{transName,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null">
        store_id = #{storeId,jdbcType=BIGINT},
      </if>
      <if test="transTime != null">
        trans_time = #{transTime,jdbcType=INTEGER},
      </if>
      <if test="transType != null">
        trans_type = #{transType,jdbcType=INTEGER},
      </if>
      <if test="transEmsInfo != null">
        trans_ems_info = #{transEmsInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="transExpressInfo != null">
        trans_express_info = #{transExpressInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="transMailInfo != null">
        trans_mail_info = #{transMailInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.goshop.goods.pojo.GsGoodsTransportWithBLOBs">
    update gs_goods_transport
    set addTime = #{addtime,jdbcType=TIMESTAMP},
      deleteStatus = #{deletestatus,jdbcType=BIT},
      trans_ems = #{transEms,jdbcType=BIT},
      trans_express = #{transExpress,jdbcType=BIT},
      trans_mail = #{transMail,jdbcType=BIT},
      trans_name = #{transName,jdbcType=VARCHAR},
      store_id = #{storeId,jdbcType=BIGINT},
      trans_time = #{transTime,jdbcType=INTEGER},
      trans_type = #{transType,jdbcType=INTEGER},
      trans_ems_info = #{transEmsInfo,jdbcType=LONGVARCHAR},
      trans_express_info = #{transExpressInfo,jdbcType=LONGVARCHAR},
      trans_mail_info = #{transMailInfo,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.goshop.goods.pojo.GsGoodsTransport">
    update gs_goods_transport
    set addTime = #{addtime,jdbcType=TIMESTAMP},
      deleteStatus = #{deletestatus,jdbcType=BIT},
      trans_ems = #{transEms,jdbcType=BIT},
      trans_express = #{transExpress,jdbcType=BIT},
      trans_mail = #{transMail,jdbcType=BIT},
      trans_name = #{transName,jdbcType=VARCHAR},
      store_id = #{storeId,jdbcType=BIGINT},
      trans_time = #{transTime,jdbcType=INTEGER},
      trans_type = #{transType,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
