<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.goshop.goods.mapper.read.ReadGsGoodsTypePropertyMapper" >
  <resultMap id="BaseResultMap" type="org.goshop.goods.pojo.GsGoodsTypeProperty" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="addTime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="deleteStatus" property="deletestatus" jdbcType="BIT" />
    <result column="display" property="display" jdbcType="BIT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sequence" property="sequence" jdbcType="INTEGER" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="goodsType_id" property="goodstypeId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, addTime, deleteStatus, display, name, sequence, value, goodsType_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from gs_goods_type_property
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByPropertyGroup" resultMap="BaseResultMap" >
    select
    goodsType_id
    from gs_goods_type_property
    where goodsType_id IN
    (
      select goodsType_id from gs_goods_type_property
      <where>
        --       item表示集合中每一个元素进行迭代时的别名，
        --       index指 定一个名字，用于表示在迭代过程中，每次迭代到的位置，
        --       open表示该语句以什么开始，
        --       separator表示在每次进行迭代之间以什么符号作为分隔 符，
        --       close表示以什么结束。
        <foreach collection="conditions" item="item" index="index" separator=" or ">
            #{item}
        </foreach>

      </where>
      group by goodsType_id
      having count(*) = #{count}
    )
  </select>

</mapper>
