<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.goshop.goods.mapper.read.ReadGsGoodsClassMapper">
  <resultMap id="BaseResultMap" type="org.goshop.goods.pojo.GsGoodsClass">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="addTime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="deleteStatus" jdbcType="BIT" property="deletestatus" />
    <result column="className" jdbcType="VARCHAR" property="classname" />
    <result column="display" jdbcType="BIT" property="display" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="recommend" jdbcType="BIT" property="recommend" />
    <result column="sequence" jdbcType="INTEGER" property="sequence" />
    <result column="goods_type_id" jdbcType="BIGINT" property="goodsTypeId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="icon_sys" jdbcType="VARCHAR" property="iconSys" />
    <result column="icon_type" jdbcType="INTEGER" property="iconType" />
    <result column="icon_acc_id" jdbcType="BIGINT" property="iconAccId" />
    <collection property="children" ofType="org.goshop.goods.pojo.GsGoodsClass" column="parent_id">
      <id column="c_id" property="id" jdbcType="BIGINT" />
      <result column="c_addTime" jdbcType="TIMESTAMP" property="addtime" />
      <result column="c_deleteStatus" jdbcType="BIT" property="deletestatus" />
      <result column="c_className" jdbcType="VARCHAR" property="classname" />
      <result column="c_display" jdbcType="BIT" property="display" />
      <result column="c_level" jdbcType="INTEGER" property="level" />
      <result column="c_recommend" jdbcType="BIT" property="recommend" />
      <result column="c_sequence" jdbcType="INTEGER" property="sequence" />
      <result column="c_goods_type_id" jdbcType="BIGINT" property="goodsTypeId" />
      <result column="c_parent_id" jdbcType="BIGINT" property="parentId" />
      <result column="c_icon_sys" jdbcType="VARCHAR" property="iconSys" />
      <result column="c_icon_type" jdbcType="INTEGER" property="iconType" />
      <result column="c_icon_acc_id" jdbcType="BIGINT" property="iconAccId" />
    </collection>
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="org.goshop.goods.pojo.GsGoodsClassWithBLOBs">
    <result column="seo_description" jdbcType="LONGVARCHAR" property="seoDescription" />
    <result column="seo_keywords" jdbcType="LONGVARCHAR" property="seoKeywords" />
  </resultMap>
  <sql id="Base_Column_List">
    id, addTime, deleteStatus, className, display, level, recommend, sequence, goods_type_id,
    parent_id, icon_sys, icon_type, icon_acc_id
  </sql>
  <sql id="Blob_Column_List">
    seo_description, seo_keywords
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from gs_goods_class
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="findByGcParentId" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from gs_goods_class
    where parent_id = #{parentId,jdbcType=BIGINT}
  </select>
  <select id="findTreeByGcParentId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT
    t.id,
    t.addTime,
    t.deleteStatus,
    t.className,
    t.display,
    t.level,
    t.recommend,
    t.sequence,
    t.goods_type_id,
    t.parent_id,
    t.icon_sys,
    t.icon_type,
    t.icon_acc_id,
    child.id AS c_id,
    child.addTime AS c_addTime,
    child.deleteStatus AS c_deleteStatus,
    child.className AS c_className,
    child.display AS c_display,
    child.level AS c_level,
    child.recommend AS c_recommend,
    child.sequence AS c_sequence,
    child.goods_type_id AS c_goods_type_id,
    child.parent_id AS c_parent_id,
    child.icon_sys AS c_icon_sys,
    child.icon_acc_id AS c_icon_acc_id
    FROM
    gs_goods_class t
    LEFT JOIN gs_goods_class child ON (child.parent_id = t.id)
    WHERE
    t.parent_id = #{gcParentId,jdbcType=BIGINT}
    ORDER BY
    t.sequence
  </select>
  <select id="findByGcNameGcParentId" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from gs_goods_class
    where parent_id = #{gcParentId,jdbcType=BIGINT}
    and gc_name = #{gcName,jdbcType=VARCHAR}
  </select>

  <select id="findAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from gs_goods_class
  </select>

  <select id="findGradeByGcParentId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    SELECT
    leaf.*,
    COUNT(entity.id) AS grade
    FROM
    gs_goods_class leaf
    LEFT JOIN gs_goods_class entity ON leaf.id = entity.parent_id
    WHERE
    leaf.parent_id = #{gcParentId,jdbcType=BIGINT}
    GROUP BY
    leaf.id
    order by leaf.sequence,leaf.id
  </select>

  <select id="findByCondition" parameterType="java.util.Map" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    from gs_goods_class
    <where>
      <if test="display != null">
        and display = #{display}
      </if>
      <if test="parent_id != null">
        and parent_id = #{parentId}
      </if>
      <if test="parent_id == null">
        and parent_id IS NULL
      </if>
    </where>
    order BY #{orderBy} #{orderType}
  </select>
</mapper>
