<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.goshop.goods.mapper.read.ReadGsTransportMapper" >
  <resultMap id="BaseResultMap" type="org.goshop.goods.pojo.GsTransport" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="addTime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="deleteStatus" property="deletestatus" jdbcType="BIT" />
    <result column="trans_ems" property="transEms" jdbcType="BIT" />
    <result column="trans_express" property="transExpress" jdbcType="BIT" />
    <result column="trans_mail" property="transMail" jdbcType="BIT" />
    <result column="trans_name" property="transName" jdbcType="VARCHAR" />
    <result column="store_id" property="storeId" jdbcType="BIGINT" />
    <result column="trans_time" property="transTime" jdbcType="INTEGER" />
    <result column="trans_type" property="transType" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="org.goshop.goods.pojo.GsTransportWithBLOBs" extends="BaseResultMap" >
    <result column="trans_ems_info" property="transEmsInfo" jdbcType="LONGVARCHAR" />
    <result column="trans_express_info" property="transExpressInfo" jdbcType="LONGVARCHAR" />
    <result column="trans_mail_info" property="transMailInfo" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, addTime, deleteStatus, trans_ems, trans_express, trans_mail, trans_name, store_id,
    trans_time, trans_type
  </sql>
  <sql id="Blob_Column_List" >
    trans_ems_info, trans_express_info, trans_mail_info
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from gs_transport
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByStoreId" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from gs_transport
    where store_id = #{storeId,jdbcType=BIGINT}
    order by #{orderBy} #{orderType}
  </select>
  <select id="selectCountByStoreId" resultType="java.lang.Long">
    select
    COUNT(*)
    from gs_transport
    where store_id = #{storeId,jdbcType=BIGINT}
  </select>
</mapper>
