<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.goshop.goods.mapper.master.GsGoodsTypeBrandMapper" >
  <resultMap id="BaseResultMap" type="org.goshop.goods.pojo.GsGoodsTypeBrand" >
    <result column="type_id" property="typeId" jdbcType="BIGINT" />
    <result column="brand_id" property="brandId" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="org.goshop.goods.pojo.GsGoodsTypeBrand" >
    insert into gs_goods_type_brand (type_id, brand_id)
    values (#{typeId,jdbcType=BIGINT}, #{brandId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="org.goshop.goods.pojo.GsGoodsTypeBrand" >
    insert into gs_goods_type_brand
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="brandId != null" >
        brand_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="typeId != null" >
        #{typeId,jdbcType=BIGINT},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>
