<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.goshop.goods.mapper.master.GsGoodsPropertyMapper" >
  <resultMap id="BaseResultMap" type="org.goshop.goods.pojo.GsGoodsProperty" >
    <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
    <result column="spec_id" property="specId" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="org.goshop.goods.pojo.GsGoodsProperty" >
    insert into gs_goods_property (goods_id, spec_id)
    values (#{goodsId,jdbcType=BIGINT}, #{specId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="org.goshop.goods.pojo.GsGoodsProperty" >
    insert into gs_goods_property
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="specId != null" >
        spec_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="specId != null" >
        #{specId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <!-- 批量插入生成的兑换码 -->
  <insert id ="insertBatch" useGeneratedKeys="true" parameterType="java.util.List" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into gs_goods_property
    (goods_id, spec_id)
    values
    <foreach collection ="list" item="gsp" index= "index" separator =",">
      (
      #{gsp.goodsId}, #{gsp.specId}
      )
    </foreach >
  </insert >

  <delete id="deleteByGoodsId" parameterType="java.lang.Long" >
    delete from gs_goods_property
    where goods_id = #{goods_id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByGoodsAndSpecId" parameterType="java.util.List" >
    delete from gs_goods_property
    <where>
      --       item表示集合中每一个元素进行迭代时的别名，
      --       index指 定一个名字，用于表示在迭代过程中，每次迭代到的位置，
      --       open表示该语句以什么开始，
      --       separator表示在每次进行迭代之间以什么符号作为分隔 符，
      --       close表示以什么结束。
      <foreach collection="list" index="index" item="gp" open="" separator="OR" close="">
        (goods_id = #{gp.goodsId,jdbcType=BIGINT} and spec_id = #{gp.specId,jdbcType=BIGINT})
      </foreach>
    </where>
  </delete>
</mapper>
