<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.goshop.goods.mapper.master.GsGroupGoodsMapper" >
  <resultMap id="BaseResultMap" type="org.goshop.goods.pojo.GsGroupGoods" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="addTime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="deleteStatus" property="deletestatus" jdbcType="BIT" />
    <result column="gg_audit_time" property="ggAuditTime" jdbcType="TIMESTAMP" />
    <result column="gg_count" property="ggCount" jdbcType="INTEGER" />
    <result column="gg_def_count" property="ggDefCount" jdbcType="INTEGER" />
    <result column="gg_group_count" property="ggGroupCount" jdbcType="INTEGER" />
    <result column="gg_max_count" property="ggMaxCount" jdbcType="INTEGER" />
    <result column="gg_min_count" property="ggMinCount" jdbcType="INTEGER" />
    <result column="gg_name" property="ggName" jdbcType="VARCHAR" />
    <result column="gg_price" property="ggPrice" jdbcType="DECIMAL" />
    <result column="gg_rebate" property="ggRebate" jdbcType="DECIMAL" />
    <result column="gg_recommend" property="ggRecommend" jdbcType="INTEGER" />
    <result column="gg_recommend_time" property="ggRecommendTime" jdbcType="TIMESTAMP" />
    <result column="gg_status" property="ggStatus" jdbcType="INTEGER" />
    <result column="gg_vir_count" property="ggVirCount" jdbcType="INTEGER" />
    <result column="gg_ga_id" property="ggGaId" jdbcType="BIGINT" />
    <result column="gg_gc_id" property="ggGcId" jdbcType="BIGINT" />
    <result column="gg_goods_id" property="ggGoodsId" jdbcType="BIGINT" />
    <result column="gg_img_id" property="ggImgId" jdbcType="BIGINT" />
    <result column="group_id" property="groupId" jdbcType="BIGINT" />
    <result column="weixin_shop_recommend" property="weixinShopRecommend" jdbcType="BIT" />
    <result column="weixin_shop_recommendTime" property="weixinShopRecommendtime" jdbcType="DATE" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="org.goshop.goods.pojo.GsGroupGoods" extends="BaseResultMap" >
    <result column="gg_content" property="ggContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, addTime, deleteStatus, gg_audit_time, gg_count, gg_def_count, gg_group_count,
    gg_max_count, gg_min_count, gg_name, gg_price, gg_rebate, gg_recommend, gg_recommend_time,
    gg_status, gg_vir_count, gg_ga_id, gg_gc_id, gg_goods_id, gg_img_id, group_id, weixin_shop_recommend,
    weixin_shop_recommendTime
  </sql>
  <sql id="Blob_Column_List" >
    gg_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from gs_group_goods
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from gs_group_goods
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.goshop.goods.pojo.GsGroupGoods" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into gs_group_goods (addTime, deleteStatus, gg_audit_time,
      gg_count, gg_def_count, gg_group_count,
      gg_max_count, gg_min_count, gg_name,
      gg_price, gg_rebate, gg_recommend,
      gg_recommend_time, gg_status, gg_vir_count,
      gg_ga_id, gg_gc_id, gg_goods_id,
      gg_img_id, group_id, weixin_shop_recommend,
      weixin_shop_recommendTime, gg_content)
    values (#{addtime,jdbcType=TIMESTAMP}, #{deletestatus,jdbcType=BIT}, #{ggAuditTime,jdbcType=TIMESTAMP},
      #{ggCount,jdbcType=INTEGER}, #{ggDefCount,jdbcType=INTEGER}, #{ggGroupCount,jdbcType=INTEGER},
      #{ggMaxCount,jdbcType=INTEGER}, #{ggMinCount,jdbcType=INTEGER}, #{ggName,jdbcType=VARCHAR},
      #{ggPrice,jdbcType=DECIMAL}, #{ggRebate,jdbcType=DECIMAL}, #{ggRecommend,jdbcType=INTEGER},
      #{ggRecommendTime,jdbcType=TIMESTAMP}, #{ggStatus,jdbcType=INTEGER}, #{ggVirCount,jdbcType=INTEGER},
      #{ggGaId,jdbcType=BIGINT}, #{ggGcId,jdbcType=BIGINT}, #{ggGoodsId,jdbcType=BIGINT},
      #{ggImgId,jdbcType=BIGINT}, #{groupId,jdbcType=BIGINT}, #{weixinShopRecommend,jdbcType=BIT},
      #{weixinShopRecommendtime,jdbcType=DATE}, #{ggContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.goshop.goods.pojo.GsGroupGoods" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into gs_group_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="addtime != null" >
        addTime,
      </if>
      <if test="deletestatus != null" >
        deleteStatus,
      </if>
      <if test="ggAuditTime != null" >
        gg_audit_time,
      </if>
      <if test="ggCount != null" >
        gg_count,
      </if>
      <if test="ggDefCount != null" >
        gg_def_count,
      </if>
      <if test="ggGroupCount != null" >
        gg_group_count,
      </if>
      <if test="ggMaxCount != null" >
        gg_max_count,
      </if>
      <if test="ggMinCount != null" >
        gg_min_count,
      </if>
      <if test="ggName != null" >
        gg_name,
      </if>
      <if test="ggPrice != null" >
        gg_price,
      </if>
      <if test="ggRebate != null" >
        gg_rebate,
      </if>
      <if test="ggRecommend != null" >
        gg_recommend,
      </if>
      <if test="ggRecommendTime != null" >
        gg_recommend_time,
      </if>
      <if test="ggStatus != null" >
        gg_status,
      </if>
      <if test="ggVirCount != null" >
        gg_vir_count,
      </if>
      <if test="ggGaId != null" >
        gg_ga_id,
      </if>
      <if test="ggGcId != null" >
        gg_gc_id,
      </if>
      <if test="ggGoodsId != null" >
        gg_goods_id,
      </if>
      <if test="ggImgId != null" >
        gg_img_id,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="weixinShopRecommend != null" >
        weixin_shop_recommend,
      </if>
      <if test="weixinShopRecommendtime != null" >
        weixin_shop_recommendTime,
      </if>
      <if test="ggContent != null" >
        gg_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletestatus != null" >
        #{deletestatus,jdbcType=BIT},
      </if>
      <if test="ggAuditTime != null" >
        #{ggAuditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ggCount != null" >
        #{ggCount,jdbcType=INTEGER},
      </if>
      <if test="ggDefCount != null" >
        #{ggDefCount,jdbcType=INTEGER},
      </if>
      <if test="ggGroupCount != null" >
        #{ggGroupCount,jdbcType=INTEGER},
      </if>
      <if test="ggMaxCount != null" >
        #{ggMaxCount,jdbcType=INTEGER},
      </if>
      <if test="ggMinCount != null" >
        #{ggMinCount,jdbcType=INTEGER},
      </if>
      <if test="ggName != null" >
        #{ggName,jdbcType=VARCHAR},
      </if>
      <if test="ggPrice != null" >
        #{ggPrice,jdbcType=DECIMAL},
      </if>
      <if test="ggRebate != null" >
        #{ggRebate,jdbcType=DECIMAL},
      </if>
      <if test="ggRecommend != null" >
        #{ggRecommend,jdbcType=INTEGER},
      </if>
      <if test="ggRecommendTime != null" >
        #{ggRecommendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ggStatus != null" >
        #{ggStatus,jdbcType=INTEGER},
      </if>
      <if test="ggVirCount != null" >
        #{ggVirCount,jdbcType=INTEGER},
      </if>
      <if test="ggGaId != null" >
        #{ggGaId,jdbcType=BIGINT},
      </if>
      <if test="ggGcId != null" >
        #{ggGcId,jdbcType=BIGINT},
      </if>
      <if test="ggGoodsId != null" >
        #{ggGoodsId,jdbcType=BIGINT},
      </if>
      <if test="ggImgId != null" >
        #{ggImgId,jdbcType=BIGINT},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=BIGINT},
      </if>
      <if test="weixinShopRecommend != null" >
        #{weixinShopRecommend,jdbcType=BIT},
      </if>
      <if test="weixinShopRecommendtime != null" >
        #{weixinShopRecommendtime,jdbcType=DATE},
      </if>
      <if test="ggContent != null" >
        #{ggContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.goshop.goods.pojo.GsGroupGoods" >
    update gs_group_goods
    <set >
      <if test="addtime != null" >
        addTime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletestatus != null" >
        deleteStatus = #{deletestatus,jdbcType=BIT},
      </if>
      <if test="ggAuditTime != null" >
        gg_audit_time = #{ggAuditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ggCount != null" >
        gg_count = #{ggCount,jdbcType=INTEGER},
      </if>
      <if test="ggDefCount != null" >
        gg_def_count = #{ggDefCount,jdbcType=INTEGER},
      </if>
      <if test="ggGroupCount != null" >
        gg_group_count = #{ggGroupCount,jdbcType=INTEGER},
      </if>
      <if test="ggMaxCount != null" >
        gg_max_count = #{ggMaxCount,jdbcType=INTEGER},
      </if>
      <if test="ggMinCount != null" >
        gg_min_count = #{ggMinCount,jdbcType=INTEGER},
      </if>
      <if test="ggName != null" >
        gg_name = #{ggName,jdbcType=VARCHAR},
      </if>
      <if test="ggPrice != null" >
        gg_price = #{ggPrice,jdbcType=DECIMAL},
      </if>
      <if test="ggRebate != null" >
        gg_rebate = #{ggRebate,jdbcType=DECIMAL},
      </if>
      <if test="ggRecommend != null" >
        gg_recommend = #{ggRecommend,jdbcType=INTEGER},
      </if>
      <if test="ggRecommendTime != null" >
        gg_recommend_time = #{ggRecommendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ggStatus != null" >
        gg_status = #{ggStatus,jdbcType=INTEGER},
      </if>
      <if test="ggVirCount != null" >
        gg_vir_count = #{ggVirCount,jdbcType=INTEGER},
      </if>
      <if test="ggGaId != null" >
        gg_ga_id = #{ggGaId,jdbcType=BIGINT},
      </if>
      <if test="ggGcId != null" >
        gg_gc_id = #{ggGcId,jdbcType=BIGINT},
      </if>
      <if test="ggGoodsId != null" >
        gg_goods_id = #{ggGoodsId,jdbcType=BIGINT},
      </if>
      <if test="ggImgId != null" >
        gg_img_id = #{ggImgId,jdbcType=BIGINT},
      </if>
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=BIGINT},
      </if>
      <if test="weixinShopRecommend != null" >
        weixin_shop_recommend = #{weixinShopRecommend,jdbcType=BIT},
      </if>
      <if test="weixinShopRecommendtime != null" >
        weixin_shop_recommendTime = #{weixinShopRecommendtime,jdbcType=DATE},
      </if>
      <if test="ggContent != null" >
        gg_content = #{ggContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.goshop.goods.pojo.GsGroupGoods" >
    update gs_group_goods
    set addTime = #{addtime,jdbcType=TIMESTAMP},
      deleteStatus = #{deletestatus,jdbcType=BIT},
      gg_audit_time = #{ggAuditTime,jdbcType=TIMESTAMP},
      gg_count = #{ggCount,jdbcType=INTEGER},
      gg_def_count = #{ggDefCount,jdbcType=INTEGER},
      gg_group_count = #{ggGroupCount,jdbcType=INTEGER},
      gg_max_count = #{ggMaxCount,jdbcType=INTEGER},
      gg_min_count = #{ggMinCount,jdbcType=INTEGER},
      gg_name = #{ggName,jdbcType=VARCHAR},
      gg_price = #{ggPrice,jdbcType=DECIMAL},
      gg_rebate = #{ggRebate,jdbcType=DECIMAL},
      gg_recommend = #{ggRecommend,jdbcType=INTEGER},
      gg_recommend_time = #{ggRecommendTime,jdbcType=TIMESTAMP},
      gg_status = #{ggStatus,jdbcType=INTEGER},
      gg_vir_count = #{ggVirCount,jdbcType=INTEGER},
      gg_ga_id = #{ggGaId,jdbcType=BIGINT},
      gg_gc_id = #{ggGcId,jdbcType=BIGINT},
      gg_goods_id = #{ggGoodsId,jdbcType=BIGINT},
      gg_img_id = #{ggImgId,jdbcType=BIGINT},
      group_id = #{groupId,jdbcType=BIGINT},
      weixin_shop_recommend = #{weixinShopRecommend,jdbcType=BIT},
      weixin_shop_recommendTime = #{weixinShopRecommendtime,jdbcType=DATE},
      gg_content = #{ggContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.goshop.goods.pojo.GsGroupGoods" >
    update gs_group_goods
    set addTime = #{addtime,jdbcType=TIMESTAMP},
      deleteStatus = #{deletestatus,jdbcType=BIT},
      gg_audit_time = #{ggAuditTime,jdbcType=TIMESTAMP},
      gg_count = #{ggCount,jdbcType=INTEGER},
      gg_def_count = #{ggDefCount,jdbcType=INTEGER},
      gg_group_count = #{ggGroupCount,jdbcType=INTEGER},
      gg_max_count = #{ggMaxCount,jdbcType=INTEGER},
      gg_min_count = #{ggMinCount,jdbcType=INTEGER},
      gg_name = #{ggName,jdbcType=VARCHAR},
      gg_price = #{ggPrice,jdbcType=DECIMAL},
      gg_rebate = #{ggRebate,jdbcType=DECIMAL},
      gg_recommend = #{ggRecommend,jdbcType=INTEGER},
      gg_recommend_time = #{ggRecommendTime,jdbcType=TIMESTAMP},
      gg_status = #{ggStatus,jdbcType=INTEGER},
      gg_vir_count = #{ggVirCount,jdbcType=INTEGER},
      gg_ga_id = #{ggGaId,jdbcType=BIGINT},
      gg_gc_id = #{ggGcId,jdbcType=BIGINT},
      gg_goods_id = #{ggGoodsId,jdbcType=BIGINT},
      gg_img_id = #{ggImgId,jdbcType=BIGINT},
      group_id = #{groupId,jdbcType=BIGINT},
      weixin_shop_recommend = #{weixinShopRecommend,jdbcType=BIT},
      weixin_shop_recommendTime = #{weixinShopRecommendtime,jdbcType=DATE}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
