<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.goshop.store.mapper.master.GsStorePartnerMapper" >
  <resultMap id="BaseResultMap" type="org.goshop.store.pojo.GsStorePartner" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="addTime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="deleteStatus" property="deletestatus" jdbcType="BIT" />
    <result column="sequence" property="sequence" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="store_id" property="storeId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, addTime, deleteStatus, sequence, title, url, store_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from gs_store_partner
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from gs_store_partner
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.goshop.store.pojo.GsStorePartner" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into gs_store_partner (addTime, deleteStatus, sequence,
      title, url, store_id)
    values (#{addtime,jdbcType=TIMESTAMP}, #{deletestatus,jdbcType=BIT}, #{sequence,jdbcType=INTEGER},
      #{title,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{storeId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="org.goshop.store.pojo.GsStorePartner" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into gs_store_partner
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="addtime != null" >
        addTime,
      </if>
      <if test="deletestatus != null" >
        deleteStatus,
      </if>
      <if test="sequence != null" >
        sequence,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletestatus != null" >
        #{deletestatus,jdbcType=BIT},
      </if>
      <if test="sequence != null" >
        #{sequence,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.goshop.store.pojo.GsStorePartner" >
    update gs_store_partner
    <set >
      <if test="addtime != null" >
        addTime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletestatus != null" >
        deleteStatus = #{deletestatus,jdbcType=BIT},
      </if>
      <if test="sequence != null" >
        sequence = #{sequence,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.goshop.store.pojo.GsStorePartner" >
    update gs_store_partner
    set addTime = #{addtime,jdbcType=TIMESTAMP},
      deleteStatus = #{deletestatus,jdbcType=BIT},
      sequence = #{sequence,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      store_id = #{storeId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
