<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.goshop.store.mapper.master.StoreClassMapper" >
  <resultMap id="BaseResultMap" type="org.goshop.store.pojo.GsStoreClass" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="PARENT_ID" property="parentId" jdbcType="BIGINT" />
    <result column="addTime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="deleteStatus" property="deletestatus" jdbcType="BIT" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="description_evaluate" property="descriptionEvaluate" jdbcType="DECIMAL" />
    <result column="service_evaluate" property="serviceEvaluate" jdbcType="DECIMAL" />
    <result column="ship_evaluate" property="shipEvaluate" jdbcType="DECIMAL" />
    <collection property="children" ofType="org.goshop.store.pojo.GsStoreClass" column="PARENT_ID">
      <id column="c_id" property="id" jdbcType="BIGINT" />
      <result column="c_sort" property="sort" jdbcType="INTEGER" />
      <result column="c_name" property="name" jdbcType="VARCHAR" />
      <result column="c_addTime" property="addtime" jdbcType="TIMESTAMP" />
      <result column="c_deleteStatus" property="deletestatus" jdbcType="BIT" />
      <result column="c_level" property="level" jdbcType="INTEGER" />
      <result column="c_description_evaluate" property="descriptionEvaluate" jdbcType="DECIMAL" />
      <result column="c_service_evaluate" property="serviceEvaluate" jdbcType="DECIMAL" />
      <result column="c_ship_evaluate" property="shipEvaluate" jdbcType="DECIMAL" />
    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    id, sort, name, PARENT_ID,addTime,deleteStatus,level,description_evaluate,service_evaluate,ship_evaluate
  </sql>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from gs_store_class
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.goshop.store.pojo.GsStoreClass"  useGeneratedKeys="true" keyProperty="id">
    insert into gs_store_class (id, sort, name,PARENT_ID,addTime,deleteStatus,level,description_evaluate,service_evaluate,ship_evaluate)
    values (#{id,jdbcType=BIGINT}, #{sort,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
      #{parentId,jdbcType=BIGINT},#{addTime,jdbcType=TIMESTAMP},#{deleteStatus,jdbcType=BIT},
      #{level,jdbcType=INTEGER},#{description_evaluate,jdbcType=DECIMAL},
      #{service_evaluate,jdbcType=DECIMAL},#{shipEvaluate,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="org.goshop.store.pojo.GsStoreClass"  useGeneratedKeys="true" keyProperty="id">
    insert into gs_store_class
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="parentId != null" >
        PARENT_ID,
      </if>
      <if test="addtime != null" >
        addTime,
      </if>
      <if test="deletestatus != null" >
        deleteStatus,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="descriptionEvaluate != null" >
        description_evaluate,
      </if>
      <if test="serviceEvaluate != null" >
        service_evaluate,
      </if>
      <if test="shipEvaluate != null" >
        ship_evaluate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletestatus != null" >
        #{deletestatus,jdbcType=BIT},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="descriptionEvaluate != null" >
        #{descriptionEvaluate,jdbcType=DECIMAL},
      </if>
      <if test="serviceEvaluate != null" >
        #{serviceEvaluate,jdbcType=DECIMAL},
      </if>
      <if test="shipEvaluate != null" >
        #{shipEvaluate,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.goshop.store.pojo.GsStoreClass" >
    update gs_store_class
    <set >
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        PARENT_ID = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="addtime != null" >
        addTime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletestatus != null" >
        deleteStatus = #{deletestatus,jdbcType=BIT},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="descriptionEvaluate != null" >
        description_evaluate = #{descriptionEvaluate,jdbcType=DECIMAL},
      </if>
      <if test="serviceEvaluate != null" >
        service_evaluate = #{serviceEvaluate,jdbcType=DECIMAL},
      </if>
      <if test="shipEvaluate != null" >
        ship_evaluate = #{shipEvaluate,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.goshop.store.pojo.GsStoreClass" >
    update gs_store_class
    set sort = #{sort,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      PARENT_ID = #{parentId,jdbcType=BIGINT},
      addTime = #{addtime,jdbcType=TIMESTAMP},
      deleteStatus = #{deletestatus,jdbcType=BIT},
      level = #{level,jdbcType=INTEGER},
      description_evaluate = #{descriptionEvaluate,jdbcType=DECIMAL},
      service_evaluate = #{serviceEvaluate,jdbcType=DECIMAL},
      ship_evaluate = #{shipEvaluate,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateSort" >
    update gs_store_class
    set sort = #{sort,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateName" >
    update gs_store_class
    set name = #{name,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>
