<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.goshop.assets.mapper.read.ReadGsAlbumMapper">
  <resultMap id="BaseResultMap" type="org.goshop.assets.pojo.GsAlbum">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="addTime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="deleteStatus" jdbcType="BIT" property="deletestatus" />
    <result column="album_default" jdbcType="BIT" property="albumDefault" />
    <result column="album_name" jdbcType="VARCHAR" property="albumName" />
    <result column="album_sequence" jdbcType="INTEGER" property="albumSequence" />
    <result column="album_cover_id" jdbcType="BIGINT" property="albumCoverId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="org.goshop.assets.pojo.GsAlbum">
    <result column="alblum_info" jdbcType="LONGVARCHAR" property="alblumInfo" />
  </resultMap>
  <sql id="Base_Column_List">
    id, addTime, deleteStatus, album_default, album_name, album_sequence, album_cover_id,
    user_id
  </sql>
  <sql id="Blob_Column_List">
    alblum_info
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from gs_album
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="getDefaultAlbumByUserId" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from gs_album
    where user_id = #{userId,jdbcType=BIGINT} and album_default = #{albumDefault ,jdbcType=BIT}
  </select>
</mapper>
