/*user.css*/
.main {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#D8FFFFFF', endColorstr='#D8FFFFFF');
    background: rgba(255, 255, 255, 0.85);
    width: 700px;
    padding: 20px 40px;
    float: left;
    border-radius: 4px;
}

.tabledetail{border-collapse: collapse;border: 1px solid #E2E1E1;width: 100%;}
.tabledetail tr{border: 1px solid #E2E1E1;}
.tableh1{color: #EF5704;padding: 10px;font-size: 14px;font-weight: bold}
.tabledetail td{padding: 10px;}
.editbtn input{background: url(../images/goods/edit.jpg) no-repeat;width:90px;height: 24px;margin-left: 10px;border: 0px;}
.tabtxt1 input{border: 1px solid #A7A6AA;height: 20px;line-height: 20px;padding-left: 5px;margin-bottom: 10px;}
.size1 input{width: 410px;}
.size2 input{width: 210px;}
.sptable span{display: block;}
.tableli li{line-height: 20px;}
.cc_sp1{width: 20px;height: 20px;float: left;margin-right: 3px;}
.cc_sp1 input{margin-top: 3px; *margin-top: 0px;}
.cc_sp2{width: 20px;height: 20px;float: left;margin-right: 5px;}
.cc_sp2 img{padding: 1px;border: 1px solid #D8D8D8;}
.cc_sp3{width: 110px;float: left;height: 23px;line-height: 23px;}
.tab_body{width: 860px;float: left;overflow: hidden;position: relative;}
.tabbody_ul{position: relative;top: 1px;width: 860px;float: left;}
.tabbody_ul li{padding-left: 10px;padding-right: 10px;height: 25px;line-height: 25px;color: #666;float: left;}
.tabbody_ul .this{border: 1px solid #7FC7E9;border-bottom: 1px solid #fff;color: #0196D9;}
.tabbodys{width: 855px;border: 1px solid #7FC7E9;overflow: hidden;float: left;padding-top: 10px;padding-bottom: 10px;}
.tab_body_a,.tab_body_b{width: 860px;overflow: hidden;float: left;}
.tab_body_b h1{width: 840px;padding: 10px;font-weight: lighter;color: #999;font-size: 12px;position: relative;}
.tab_body_b h1 span{position: absolute;right: 10px;}
.tab_body_b h1 i{font-style: normal;padding-left: 5px;padding-right: 5px;}
.tabimg{width: 850px;overflow: hidden;position: relative;padding-left: 10px;}
.tabimgsmall{float: left;margin-left: 10px;margin-top: 25px;_margin-left: 5px;position: absolute;top: 70px;left: 200px;width: 450px;}
.tabimgsmall ul{width:95px;float: left;margin-right: 15px;}
.tabimgsmall ul li{text-align: center}
.tabimgsmall ul .tabimgs img{width:93px;height: 73px;border: 1px dashed #E7E7E7;}
.tabimgsmall ul .taboper{width:95px;margin-top: 5px;height: 20px;padding-left: 5px;}
.tabimgsmall ul .taboper a{display: block;float: left;}
.tabimgbig img{width: 196px;height: 196px;border: 1px dashed #E7E7E7}
.tabimgbig{float: left;}
.tabimgcent{float: left;width: 460px;overflow: hidden;}
.tabupload a{width: 200px;height: 28px;display: block;line-height: 28px;position: absolute;top: 60px;left: 210px;}
.tabshowimg{float: left;width: 170px;position: absolute;top: 0px;left: 670px;}
.warning{width: 94%;padding: 10px;border: 1px solid #FFD200;margin-top: 10px;background: #FCF9E3;margin-left: 10px;_margin-left: 5px;}
.photoimg{width: 860px;overflow: hidden;margin-top: 10px;}
.addphoto a{background: url(../images/goods/photo.jpg) no-repeat;width: 93px;height: 28px;display: block;line-height: 28px;padding-left: 30px;color: #787878;font-weight: bold}
.addphoto a:hover{color: #000}
.prorelease span{display: block;margin-top: 5px;}
.prorelease strong{font-weight: lighter;margin-right: 20px;}
.noteswidth{width: 400px;line-height: 20px;}
.texttable textarea{width: 410px;height: 90px;}
.submittable input{background: url(../images/goods/tijiao.jpg) no-repeat;width: 103px;height: 29px;color: #FFF;font-weight: bold;font-size: 14px;border: 0px;}

/**系统常用按钮样式css3**/
.button_common{color: #666;display: block;float: left;margin-right: 8px;text-decoration: none;font-weight: lighter;line-height: 1;border: 3px;border: 1px solid #ccc;border-radius: 3px;box-shadow: 0 1px 2px #999;text-shadow: 0 -1px 1px #ccc;cursor: pointer;padding: 5px 5px;}
.button_common:hover{background: -webkit-gradient(linear, 0 0, 0 100%, from(#ccc), to(#fff) );background: -moz-linear-gradient(top, #ccc, #fff);}

/**废除继承padding**/
input[type="text"], input[type="password"], input.text, input.password {padding: 0px;}
textarea, .textarea {padding: 0px; }
select {padding: 0px;}
select option {padding: 0px;}

/*public.css*/
.hui2{color:#999}
