<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.goshop.pay.mapper.read.ReadGsRefundLogMapper" >
  <resultMap id="BaseResultMap" type="org.goshop.pay.pojo.GsRefundLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="addTime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="deleteStatus" property="deletestatus" jdbcType="BIT" />
    <result column="refund" property="refund" jdbcType="DECIMAL" />
    <result column="refund_id" property="refundId" jdbcType="VARCHAR" />
    <result column="refund_log" property="refundLog" jdbcType="VARCHAR" />
    <result column="refund_type" property="refundType" jdbcType="VARCHAR" />
    <result column="of_id" property="ofId" jdbcType="BIGINT" />
    <result column="refund_user_id" property="refundUserId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, addTime, deleteStatus, refund, refund_id, refund_log, refund_type, of_id, refund_user_id
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from gs_refund_log
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from gs_refund_log
    <where>
      <if test="of_id != null">
        of_id = #{of_id}
      </if>
    </where>
    <if test="orderBy != null">
      order BY #{orderBy} #{orderType}
    </if>
  </select>
</mapper>
