<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.goshop.order.mapper.master.GsGoodsReturnlogMapper" >
  <resultMap id="BaseResultMap" type="org.goshop.order.pojo.GsGoodsReturnlog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="addTime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="deleteStatus" property="deletestatus" jdbcType="BIT" />
    <result column="gr_id" property="grId" jdbcType="BIGINT" />
    <result column="of_id" property="ofId" jdbcType="BIGINT" />
    <result column="return_user_id" property="returnUserId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, addTime, deleteStatus, gr_id, of_id, return_user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from gs_goods_returnlog
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from gs_goods_returnlog
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.goshop.order.pojo.GsGoodsReturnlog" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into gs_goods_returnlog (addTime, deleteStatus, gr_id,
      of_id, return_user_id)
    values (#{addtime,jdbcType=TIMESTAMP}, #{deletestatus,jdbcType=BIT}, #{grId,jdbcType=BIGINT},
      #{ofId,jdbcType=BIGINT}, #{returnUserId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="org.goshop.order.pojo.GsGoodsReturnlog" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into gs_goods_returnlog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="addtime != null" >
        addTime,
      </if>
      <if test="deletestatus != null" >
        deleteStatus,
      </if>
      <if test="grId != null" >
        gr_id,
      </if>
      <if test="ofId != null" >
        of_id,
      </if>
      <if test="returnUserId != null" >
        return_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletestatus != null" >
        #{deletestatus,jdbcType=BIT},
      </if>
      <if test="grId != null" >
        #{grId,jdbcType=BIGINT},
      </if>
      <if test="ofId != null" >
        #{ofId,jdbcType=BIGINT},
      </if>
      <if test="returnUserId != null" >
        #{returnUserId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.goshop.order.pojo.GsGoodsReturnlog" >
    update gs_goods_returnlog
    <set >
      <if test="addtime != null" >
        addTime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletestatus != null" >
        deleteStatus = #{deletestatus,jdbcType=BIT},
      </if>
      <if test="grId != null" >
        gr_id = #{grId,jdbcType=BIGINT},
      </if>
      <if test="ofId != null" >
        of_id = #{ofId,jdbcType=BIGINT},
      </if>
      <if test="returnUserId != null" >
        return_user_id = #{returnUserId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.goshop.order.pojo.GsGoodsReturnlog" >
    update gs_goods_returnlog
    set addTime = #{addtime,jdbcType=TIMESTAMP},
      deleteStatus = #{deletestatus,jdbcType=BIT},
      gr_id = #{grId,jdbcType=BIGINT},
      of_id = #{ofId,jdbcType=BIGINT},
      return_user_id = #{returnUserId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
