<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.goshop.order.mapper.master.GsGoodsReturnitemMapper" >
  <resultMap id="BaseResultMap" type="org.goshop.order.pojo.GsGoodsReturnitem" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="addTime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="deleteStatus" property="deletestatus" jdbcType="BIT" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
    <result column="gr_id" property="grId" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="org.goshop.order.pojo.GsGoodsReturnitem" extends="BaseResultMap" >
    <result column="spec_info" property="specInfo" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, addTime, deleteStatus, count, goods_id, gr_id
  </sql>
  <sql id="Blob_Column_List" >
    spec_info
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from gs_goods_returnitem
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="org.goshop.order.pojo.GsGoodsReturnitem" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into gs_goods_returnitem (addTime, deleteStatus, count,
      goods_id, gr_id, spec_info
      )
    values (#{addtime,jdbcType=TIMESTAMP}, #{deletestatus,jdbcType=BIT}, #{count,jdbcType=INTEGER},
      #{goodsId,jdbcType=BIGINT}, #{grId,jdbcType=BIGINT}, #{specInfo,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="org.goshop.order.pojo.GsGoodsReturnitem" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into gs_goods_returnitem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="addtime != null" >
        addTime,
      </if>
      <if test="deletestatus != null" >
        deleteStatus,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="grId != null" >
        gr_id,
      </if>
      <if test="specInfo != null" >
        spec_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletestatus != null" >
        #{deletestatus,jdbcType=BIT},
      </if>
      <if test="count != null" >
        #{count,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="grId != null" >
        #{grId,jdbcType=BIGINT},
      </if>
      <if test="specInfo != null" >
        #{specInfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="org.goshop.order.pojo.GsGoodsReturnitem" >
    update gs_goods_returnitem
    <set >
      <if test="addtime != null" >
        addTime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletestatus != null" >
        deleteStatus = #{deletestatus,jdbcType=BIT},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="grId != null" >
        gr_id = #{grId,jdbcType=BIGINT},
      </if>
      <if test="specInfo != null" >
        spec_info = #{specInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.goshop.order.pojo.GsGoodsReturnitem" >
    update gs_goods_returnitem
    set addTime = #{addtime,jdbcType=TIMESTAMP},
      deleteStatus = #{deletestatus,jdbcType=BIT},
      count = #{count,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=BIGINT},
      gr_id = #{grId,jdbcType=BIGINT},
      spec_info = #{specInfo,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.goshop.order.pojo.GsGoodsReturnitem" >
    update gs_goods_returnitem
    set addTime = #{addtime,jdbcType=TIMESTAMP},
      deleteStatus = #{deletestatus,jdbcType=BIT},
      count = #{count,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=BIGINT},
      gr_id = #{grId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
