<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.goshop.users.mapper.read.ReadGsMessageMapper" >
  <resultMap id="BaseResultMap" type="org.goshop.users.pojo.GsMessage" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="addTime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="deleteStatus" property="deletestatus" jdbcType="BIT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="fromUser_id" property="fromuserId" jdbcType="BIGINT" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="toUser_id" property="touserId" jdbcType="BIGINT" />
    <result column="reply_status" property="replyStatus" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="org.goshop.users.pojo.GsMessage" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, addTime, deleteStatus, status, title, type, fromUser_id, parent_id, toUser_id,
    reply_status
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from gs_message
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByCondition" resultMap="ResultMapWithBLOBs" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from gs_message
    <where>
      <if test="status != null">
        and status=#{status}
      </if>
      <if test="reply_status != null">
        and reply_status=#{reply_status}
      </if>
      <if test="fromUser_id != null">
        and fromUser_id = #{fromUser_id}
      </if>
      <if test="toUser_id != null">
        and toUser_id = #{toUser_id}
      </if>
      <if test="parent_id != null">
        and parent_id = #{parent_id}
      </if>
      <if test="parent_id == null">
        and parent_id IS NULL
      </if>
    </where>
  </select>

  <select id="selectBySelfRelated" resultMap="ResultMapWithBLOBs" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from gs_message
    where parent_id is null
      and ((status=#{status} and toUser_id = #{toUser_id})
          or
          (reply_status=#{reply_status} and fromUser_id = #{fromUser_id}))
  </select>
</mapper>
